@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutWithoutMenue.cshtml";
}

<div class="jumbotron">
    <h1>Please login</h1>
    @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-primary btn-lg btn-block" })
    @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn btn-primary btn-lg btn-block" })

</div>

<div class="row">
    
    
</div>