@model Taxi.Models.SearchAddressViewModel
@{
    ViewBag.Title = "Search";
}

<h2>Price Compare</h2>
<p class="text-success">@ViewBag.StatusMessage</p>

<div class="container">
    <form>
        <div class="form-group">
            <label for="usr">From:</label>
            <input id="iptFrom" type="text" class="form-control" id="iptFrom" value="Time Square"/>

        </div>
        <div class="form-group">
            <label for="pwd">To:</label>
            <input id="iptTo" type="text" class="form-control" id="iptTo" value="Queens College"/>
        </div>
        <div class="form-group">
            <button id="btSearch" type="button" class="btn btn-primary btn-sm">Search</button>
            <button id="btTest" type="button" class="btn btn-primary btn-sm">Test</button>
        </div>
    </form>
</div>

<div class="container">
    <div style="width:80%;height:80%;">
        <div id="map" style="width:800px;height:800px;"></div>
    </div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZ2b3ucOfoCQrm3eqU8qC-1EKP_P2Sh2M"></script>
<script src="~/Scripts/SearchAddress.js"></script>

<hr />
<br />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
<table id="tbSearchResult" class="display" width="100%">
    <thead>
        <tr>
            <th width="30%">Name</th>
            <th width="30%">Type</th>
            <th width="30%">Price</th>
            <th></th>
            
        </tr>
    </thead>
</table>

